.actived {
  font-weight: bold;
  background-color: #bbbdc1 !important; /* Bootstrap primary blue */
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

label.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}