<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom my-3 h-auto ">
  <div class="container-fluid d-flex justify-content-end  ">
      <div class="header d-flex justify-content-end gap-5   align-items-center">
        

          {% comment %} <div class="user-info d-flex gap-2 align-item-center">
            <p class="language-label my-1">Language:</p>
            <select class="form-select d-block" aria-label="Language Select">
              <option selected disabled>Select Language</option>
              <option value="ar">Arabic</option>
              <option value="en">English</option>
           
       
            </select>
            
          </div> {% endcomment %}
          <div class="user-info">
            <span class="username">John Doe</span>
          </div>

         <img src="/static/assets/img/user-avatar.png" alt="User Avatar" class="user-avatar">
         <script>
           const currentUser = {
            id: "{{request.user.id}}",
            email: "{{request.user.email}}",
            name: "{{request.user.get_full_name}}",
            isAuthenticated: {{request.user.is_authenticated|yesno:"true,false"}},
            can_view : {{perms.property_management_deals.view_properties_rentalproperties|yesno:"true,false"}},
            can_edit : {{perms.property_management_deals.change_properties_rentalproperties|yesno:"true,false"}},
            can_delete : {{perms.property_management_deals.delete_properties_rentalproperties|yesno:"true,false"}},

           }
           console.log(currentUser)
         </script>

      </div>
  </div>
</nav>