
<div class="main-content pt-4"><style>
a.addition {
    position: absolute;
    margin-left:-15px !important;
    top:18px!important;
  
}
a.subtraction {
    position: absolute;
    display: inline-block;
    bottom:15px !important;
    margin-left:-15px !important;

}	
.cheque-dates
{
	margin-right:500px;
}

</style>
<div class="row">
	<div class="col-md-12" id="successmsg" style="display: none">
	   <div class="alert alert-primary " id="alert-primary">
	      <button class="close float-right" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
	   </div>
	</div>
	<div class="col-md-12">
		<div class="card mt-3 mb-3">
			<div class="card-header bg-transparent">
			   <h4 class="pb-2">Create Property
				   	<span class="float-right">
				        <a class="btn btn-primary btn-rounded" href="#" onclick="window.history.back();">Cancel</a>
				    </span>
			  	</h4>
			</div>

	    <div class="card-body m-1">
            <nav>
            	<div class="row nav nav-tabs" id="nav-tab" role="tablist">
	                <a href="#nav-property" class="nav-item nav-link active show" id="nav-property-tab" data-toggle="tab" role="tab" aria-controls="nav-property" aria-selected="true">Property Details</a>

	                <a href="#nav-source" class="nav-item nav-link" id="nav-source-tab" data-toggle="tab" role="tab" aria-controls="nav-source" aria-selected="false">Owner Details</a>

	                <a href="#nav-agency" class="nav-item nav-link" id="nav-agency-tab" data-toggle="tab" role="tab" aria-controls="nav-agency" aria-selected="false">Owner Agency Details</a>

	                 <a href="#nav-cheque" class="nav-item nav-link" id="nav-cheque-tab" data-toggle="tab" role="tab" aria-controls="nav-agency" aria-selected="false">Cheque Details</a>
         
                     <a href="#nav-revenue" class="nav-item nav-link" id="nav-revenue-tab" data-toggle="tab" role="tab" aria-controls="nav-revenue" aria-selected="false">Revenue Details</a>

                     <a href="#nav-documents" class="nav-item nav-link" id="nav-documents-tab" data-toggle="tab" role="tab" aria-controls="nav-documents" aria-selected="false">Upload Documents</a>

	            </div> 
         	</nav>

         	<form id="rental_property_form" enctype="multipart/form-data" novalidate="novalidate">
         		<input type="hidden" value="fsDXPQ7AuVD3ig2KBe8LAow9lioCjtcy8uOpbQrF" name="csrf-token" id="token">
         		<input type="hidden" value="2" name="account_id" id="account_id">
         		<input type="hidden" value="" name="save_as" id="save_as">
         		<!-- Nav tabs started-->
         		<div class="tab-content ul-tab__content" id="nav-tabContent">

         		
              <div class="tab-pane fade active show" id="nav-property" role="tabpanel" aria-labelledby="nav-property-tab">
                <div class="form-group row nav-property">
							 
                            <div class="col-md-6 form-group">
                                <label for="role">Deal Submitted By Agent
                                    <span class="mandetory_field" style="color: red">*</span>
                                </label>
                                <select class="selectbox2 form-control" name="submitted_by_agent" id="submitted_by_agent" required>
                                    <option value="">Select Agent Name</option>
                                    {% for agent in agents %}
                                    <option value="{{ agent.id }}">{{ agent.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="text-danger" id="submitted_by_agent_error"></span>
                            </div>

                           	<div class="col-md-6 form-group 
                            mb-3">
								<label for="deal_date">Deal Date<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="deal_date" class="form-control hasDatepicker" id="deal_date" placeholder="Enter Deal Date" autocomplete="off" readonly="readOnly">
								<span class="text-danger" id="deal_date_error"></span>
							</div>
						
							<div class="col-md-6 form-group mb-3">
								<label for="reference_number">Reference Number<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="reference_number" class="form-control" id="reference_number" placeholder="Reference No">
								<span class="text-danger" id="reference_number_error"></span>
							</div>

							<!-- <div  class="col-md-6 form-group">
								<label for="pms">PMS<span class="mandetory_field" style="color: red">*</span></label><br>
								<div class="row">
									<div class="col-3">
										<input type="radio" name="pms"  id="pms" value="N"> New
									</div>
									<div class="col-4" style="margin-left: -60px">
										<input type="radio" class="ml-1" name="pms"  id="pms" value="R"> Renewal <br>
									</div>                     
									<span class="text-danger" id="pms_error"></span>
								</div>
							</div> -->
							
							<div class="col-md-6 form-group mb-3">
								<label for="project_name">Project Name<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="project_name" class="form-control" id="project_name" placeholder="Project Name">
								<span class="text-danger" id="project_name_error"></span>
							</div>

							<div class="col-md-6 form-group mb-3">
								<label for="building_name">Building Name<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="building_name" class="form-control" id="building_name" placeholder="Building Name">
								<span class="text-danger" id="building_name_error"></span>
							</div>
							
							<div class="col-md-6 form-group mb-3">
								<label for="unit_details">Unit No<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="unit_details" class="form-control" id="unit_details" placeholder="Unit No">
								<span class="text-danger" id="unit_details_error"></span>
							</div>

							<div class="col-md-6 form-group mb-3">
								<label for="pms_price">PMS Price<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="pms_price" class="form-control" id="pms_price" placeholder="PMS Price">
								<span class="text-danger" id="pms_price_error"></span>
							</div>

							<div class="col-md-6 form-group mb-3">
								<label for="pm_start_date">PM Start Date<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="pm_start_date" class="form-control startDate hasDatepicker" id="pm_start_date" placeholder="PM Start Date" readonly="">
								<span class="text-danger" id="pm_start_date_error"></span>
							</div>

							<div class="col-md-6 form-group mb-3">
								<label for="pm_end_date">PM End Date<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="pm_end_date" class="form-control endDate hasDatepicker" id="pm_end_date" placeholder="PM End Date" autocomplete="off" readonly="">
								<span class="text-danger" id="pm_end_date_error"></span>
							</div>

							<div class="col-md-6 form-group mb-3">
								<label for="tenancy_start_date">Tenancy Start Date<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="tenancy_start_date" class="form-control startDates hasDatepicker" id="tenancy_start_date" placeholder="Tenancy Start Date" readonly="">
								<span class="text-danger" id="tenancy_start_date_error"></span>
							</div>

							<div class="col-md-6 form-group mb-3">
								<label for="tenancy_end_date">Tenancy End Date<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="tenancy_end_date" class="form-control endDates hasDatepicker" id="tenancy_end_date" placeholder="Tenancy End Date" autocomplete="off" readonly="">
								<span class="text-danger" id="tenancy_end_date_error"></span>
							</div>
							<div class="col-md-6 form-group mb-3">
								<label for="screening">Screening<span class="mandetory_field" style="color: red"><input type="text" name="screening" class="form-control" id="screening" placeholder="Screening">
								*</span></label>
							<span class="text-danger" id="screening_error"></span>
							</div>
							<div class="col-md-6 form-group mb-3">
								<label for="screening_comments">Screening Comments</label>
								<textarea class="form-control" name="screening_comments" id="screening_comments" rows="5" cols="50" placeholder="Screening Comments"></textarea>
							</div>
						</div><hr>

						<div class="form-group row mt-3">
							<div class="col-sm-12 d-flex justify-content-center">
							        <a class="txt-color btn btn-primary btn-rounded m-1" id="changeTabToSource" style="float:right; color: white">Next</a>
									<a class="txt-color btn btn-primary btn-rounded m-1" id="saveAsDraftProperty" style="float:right; color: white">Save As Draft</a>
							</div>
						</div> 
					</div>

               	
	            	<div class="tab-pane fade" id="nav-source" role="tabpanel" aria-labelledby="nav-source-tab">
	            		<div class="form-group row nav-source">
			               <div class="col-md-6 form-group">
								<label for="role">Name<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="owner_first_name" class="form-control" id="owner_first_name" placeholder="Owner Name">
								<span class="text-danger" id="owner_first_name_error"></span>
			               </div>
			               <div class="col-md-6 form-group">
								<label for="role">Source<span class="mandetory_field" style="color: red">*</span></label>
								<select class="selectbox2 form-control" name="owner_source" id="owner_source">
									<option value="">Select Owner Source</option>
									<option value="Dubizzle">Dubizzle</option>
									
								</select>
			               </div>
			            </div>

						<div class="form-group row nav-source">
							<div class="col-md-6 form-group">
								<label for="owner_mobile">Mobile<span class="mandetory_field" style="color: red">*</span></label>
		                    	<input class="form-control" type="text" id="owner_mobile" name="owner_mobile" placeholder="Owner Mobile">
								<span class="text-danger" id="owner_mobile_error"></span>
							</div>
							<div class="col-md-6 form-group">
								<label for="owner_email">Email<span class="mandetory_field" style="color: red">*</span></label>
								<input class="form-control" type="email" id="owner_email" name="owner_email" placeholder="Owner Email">
								<span class="text-danger" id="owner_email_error"></span>
							</div>
						</div>
						 <div class="form-group row nav-source">
                                 <div class="col-md-6 form-group">
                                    <label for="seller_nationality">Nationality<span class="mandetory_field" style="color: red">*</span></label>
                                    <input class="form-control" type="text" id="seller_nationality" name="seller_nationality" placeholder="Seller Nationality">
                                    <span class="text-danger" id="seller_nationality_error"></span>
                                 </div>
                        </div>
			            <hr>
	            		<div class="form-group row mt-3">
	            		    <div class="col-sm-12 d-flex justify-content-center">
	            		    	<a class="txt-color btn btn-primary btn-rounded m-1" id="previousTab1" style="float:right;color: white">Previous</a>
	            		        <a class="txt-color btn btn-primary btn-rounded m-1" id="changeTabToAgency" style="float:right; color: white">Next</a>
                          	    <a class="txt-color btn btn-primary btn-rounded m-1" id="saveAsDraftSource" style="float:right; color: white">Save As Draft</a>
	            		    </div>
	            		</div>
	         		</div>
         		
	            	<div class="tab-pane fade" id="nav-agency" role="tabpanel" aria-labelledby="nav-agency-tab">
						<div class="form-group row nav-agency">
							<div class="col-md-6 form-group">
								<label for="agency_name">Agency Name<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="agency_name" class="form-control" id="agency_name" placeholder="Agency Name">
								<span class="text-danger" id="agency_name_error"></span>
							</div>
							<div class="col-md-6 form-group">
								<label for="agency_name">Agent Name<span class="mandetory_field" style="color: red">*</span></label>
								<input type="text" name="agent_name" class="form-control" id="agent_name" placeholder="Agent Name">
								<span class="text-danger" id="agent_name_error"></span>
							</div>
						</div>
			            
			            <div class="form-group row nav-agency">
			               <div class="col-md-6 form-group">
			                  <label for="brn">Agent Brn</label>
			                  <input class="form-control" type="text" id="brn" name="brn" placeholder="Agent Brn">
			                  <span class="text-danger" id="brn_error"></span>
			               </div>

			               <div class="col-md-6 form-group">
			                  <label for="agent_phone">Agent Phone<span class="mandetory_field" style="color:red">*</span></label>
			                  <input class="form-control" type="text" id="agent_phone" name="agent_phone" placeholder="Agent Phone">
			                  <span class="text-danger" id="agent_phone_error"></span>
			               </div>
			            </div>

			            <div class="form-group row nav-agency">
			               <div class="col-md-6 form-group">
			                  <label for="agent_email">Agent Email</label>
			                  <input class="form-control" type="email" id="agent_email" name="agent_email" placeholder="Agent Email">
			                  <span class="text-danger" id="agent_email_error"></span>
			               </div>
			            </div>
			            <hr>
		               

	            		<div class="form-group row mt-3">
	            		    <div class="col-sm-12 d-flex justify-content-center">
	            		    	<a class="txt-color btn btn-primary btn-rounded m-1" id="previousTab2" style="float:right;color: white">Previous</a>
	            		        <a class="txt-color btn btn-primary btn-rounded m-1" id="changeTabToCheque" style="float:right; color: white">Next</a>
                          	    <a class="txt-color btn btn-primary btn-rounded m-1" id="saveAsDraftAgency" style="float:right; color: white">Save As Draft</a>
	            		    </div>
	            		</div>
	         		</div>
         		
                <div class="tab-pane fade" id="nav-cheque" role="tabpanel" aria-labelledby="nav-cheque-tab">
					<div class="row form-group nav-cheque">
						<div class="col-md-5 form-group">
						<label for="no_of_cheque">Number Of Cheque<span class="mandetory_field" style="color:red">*</span> (Max-12) </label>
						<input class="form-control" type="text" id="no_of_cheque" name="no_of_cheque" placeholder="Number Of Cheque">
						<span class="text-danger" id="no_of_cheque_error"></span>
						</div>
					</div>
					<div class="row form-group nav-cheque cheque-date">
						<div class="col-md-5 form-group" style="float:left;">
                            <label for="cheque-date">Cheque Date<span class="mandetory_field" style="color:red">*</span></label>
                            <input class="form-control cheque-dates hasDatepicker" style="display: inline-block;" type="text" id="cheque_date" name="cheque_date[]" placeholder="Cheque Date" readonly="">
                            <span class="text-danger" id="cheque_date_error"></span>
						</div>
						<div class="col-md-7 form-group"><a class="txt-color btn btn-primary btn-rounded m-1 addition" id="add-cheque-row" style="float:right;color: white">Add</a></div>
						
  					</div>
					
					<div class="row form-group nav-cheque append-cheque-date">
					 	
					</div>
                   
					<br>
					
                    <small>(Note-The Date of cheque might be varying so additional rows must be added respectively maximum up to 12.)</small>

					<hr>	
					<div class="form-group row mt-3">
						<div class="col-sm-12 d-flex justify-content-center">
							<a class="txt-color btn btn-primary btn-rounded m-1" id="previousTab3" style="float:right;color: white">Previous</a>
							<a class="txt-color btn btn-primary btn-rounded m-1" id="changeTabToRevenue" style="float:right; color: white">Next</a>
							<a class="txt-color btn btn-primary btn-rounded m-1" id="saveAsDraftCheque" style="float:right; color: white">Save As Draft</a>
						</div>
					</div>
                </div>	



         			
	            	<div class="tab-pane fade" id="nav-revenue" role="tabpanel" aria-labelledby="nav-revenue-tab">
	            		<div class="row form-group nav-revenue">
			               <div class="col-md-6 form-group">
								<label for="total_commission">Total Commission<span class="mandetory_field" style="color:red">*</span></label>
								<input type="text" name="total_commission" class="form-control" id="total_commission" placeholder="Total Commission">
								<span class="text-danger" id="total_commission_error"></span>
			               </div>
			               <div class="col-md-6 form-group">
								<label for="less_outside_commission">Less Outside Commission<span class="mandetory_field" style="color:red">*</span></label>
								<input type="text" name="less_outside_commission" class="form-control" id="less_outside_commission" placeholder="Less Outside Commission">
								<span class="text-danger" id="less_outside_commission_error"></span>
			               </div>
			            </div>

			            <div class="row form-group nav-revenue">
			               <div class="col-md-6 form-group">
								<label for="net_commission">Net Commission<span class="mandetory_field" style="color:red">*</span></label>
								<input type="text" name="net_commission" class="form-control" id="net_commission" placeholder="Net Commission">
								<span class="text-danger" id="net_commission_error"></span>
			               </div>
			               <div class="col-md-6 form-group">
								<label for="classic">Classic<span class="mandetory_field" style="color:red">*</span></label>
								<input class="form-control" type="text" id="classic" name="classic" placeholder="Classic">
								<span class="text-danger" id="classic_error"></span>
			               </div>
			            </div>
                        <div class="row form-group nav-revenue">
			               <div class="col-md-6 form-group">
								<label for="agent1">Agent1<span class="mandetory_field" style="color:red">*</span></label>
								<input class="form-control" type="text" id="agent1" name="agent1" placeholder="Agent Commission">
								<span class="text-danger" id="agent1_error"></span>
			               </div>

                           <div class="col-md-6 form-group">
                                <label for="agent1"></label>                   
                                <select name="agent_name1" class=" form-control " id="agent_name1">
                                    <option value="">Select Agent</option>
                                    {% for agent in agents %}
                                    <option value="{{ agent.id }}">{{ agent.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="text-danger" id="agent_name1_error"></span>
                           </div>

			            </div>
			            <div class="row form-group nav-revenue">
			               <div class="col-md-6 form-group">
								<label for="agent2">Agent2</label>
								<input class="form-control" type="text" id="agent2" name="agent2" placeholder="Agent Commission">
								<span class="text-danger" id="agent2_error"></span>
			               </div>
			               <div class="col-md-6 form-group">
			               	   <label for="agent2"></label> 
			                    <select name="agent_name2" class=" form-control " id="agent_name2">
			                    <option value="">Select Agent</option>
                                    {% for agent in agents %}
                                    <option value="{{ agent.id }}">{{ agent.name }}</option>
                                    {% endfor %}
			                  <span class="text-danger" id="agent_name2_error"></span>
			               </div>
			              
			            </div>
			            <div class="row form-group nav-revenue">
			               <div class="col-md-6 form-group">
								<label for="agent1">Agent3</label>
								<input class="form-control" type="text" id="agent3" name="agent3" placeholder="Agent Commission">
								<span class="text-danger" id="agent3_error"></span>
			               </div>
			               <div class="col-md-6 form-group">
			                  <label for="agent3"></label>                   
			                  <select name="agent_name3" class=" form-control " id="agent_name3">
			                    <option value="">Select Agent</option>
                                    {% for agent in agents %}
                                    <option value="{{ agent.id }}">{{ agent.name }}</option>
                                    {% endfor %}
			                  <span class="text-danger" id="agent_name3_error"></span>
			               </div>
			            </div>

			            <div class="row form-group nav-revenue">
			               <div class="col-md-6 form-group">
			                  <label for="agent_comment">Comment by Agent</label>
			                  <textarea class="form-control" name="agent_comment" id="agent_comment" rows="5" cols="50" placeholder="Agent Comments"></textarea>
			                  <span class="text-danger" id="agent_comment_error"></span>
			               </div>
			                    
			               <div class="col-md-6 form-group">
			                  <label for="comments">Comment by Admin</label>
			                  <textarea class="form-control" name="comments" id="comments" rows="5" cols="50" placeholder="Admin Comments"></textarea>
			                  <span class="text-danger" id="comments_error"></span>
			               </div>
			            

                            <div class="col-md-6 form-group">
                                <label for="receipt_no">Receipt No<span style="color: red">*</span></label>                   
                                <select name="receipt_no" class=" form-control " id="receipt_no" required>
                                    <option value="">Select Receipt No</option>
                                    <option value="Null">Null</option>
                                    <option value="No Commision">No Commision</option>
                                    {% for receipt in receipt_nos %}
                                    <option value="{{ receipt }}">{{ receipt }}</option>
                                    {% endfor %}
                                </select>
                                <span class="error text-danger err-name" id="receipt_no_error"></span>
                            </div>
							<div class="col-md-6 form-group">
								<label for="kyc_number">KYC Number</label>
								<input class="form-control" type="text" id="kyc_number" name="kyc_number" placeholder="KYC Number">
								<span class="text-danger" id="kyc_number_error"></span>
			               	</div>
					    </div>
					    
			            	<div class="row form-group nav-revenue">
				               <div class="col-md-6 form-group">
				                  <label for="receipt_no">Approve/Reject</label><br>
				                 <div class="row">
                                    <div class="col-3">
				                      <input type="radio" name="is_approved_rejected" value="A"> Approve
				                    </div>
				                    <div class="col-3" style="margin-left: -50px">
				                      <input type="radio" class="ml-1" name="is_approved_rejected" value="R"> Reject
				                    </div>
				                    <div class="col-6" style="margin-left: -60px">
				                      <input type="radio" class="ml-1" name="is_approved_rejected" value="F">  Waiting for Finance
				                    </div>  
				               </div>
				           </div>
				               <div class="col-md-6 form-group">
				                  <label for="kyc_number">AML<span class="mandetory_field" style="color:red">*</span></label><br>
				                 <div class="row">
                                    <div class="col-3">
				                      <input value="Yes" class="" name="is_property_aml" id="is_property_aml" type="radio"> Yes
				                    </div>
				                    <div class="col-5" style="margin-left: -80px">
				                      <input value="No" class="ml-1" name="is_property_aml" id="is_property_aml" type="radio"> No
				                    </div>
				                      <br>
				                  <span class="text-danger" id="is_property_aml_error"></span>
				               </div>
				            </div>
				        </div>
			            <hr>
    		            <div class="form-group row mt-3">
	            		    <div class="col-sm-12 d-flex justify-content-center">
	            		    	<a class="txt-color btn btn-primary btn-rounded m-1" id="previousTab4" style="float:right;color: white">Previous</a>
	            		        <a class="txt-color btn btn-primary btn-rounded m-1" id="changeTabToDocuments" style="float:right; color: white">Next</a>
                          	    <a class="txt-color btn btn-primary btn-rounded m-1" id="saveAsDraftRevenue" style="float:right; color: white">Save As Draft</a>	            		        
	            		    </div>
	            		</div>
	         		</div>
         		 	
	            	<div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab">
	            		<div class="form-group row nav-documents">
			               <div class="col-md-6 form-group">
			                  <label for="pms_contract">PMS Contract<span class="mandetory_field" style="color:red">*</span></label><br>
			                  <input multiple="multiple" class="imageUploadInput" id="pms_contract" type="file" value="" name="pms_contract[]">
		                      <input type="hidden" id="pms_contract_existing_count" name="pms_contract_existing_count" value="0">
			                  <input type="hidden" id="pms_contract_removed" name="pms_contract_removed" value="">
			                  <input type="hidden" id="pms_contract_new_removed_count" name="pms_contract_new_removed_count" value="">
			                  <div id="upload_prevss" class="pms_contract_list"></div>

			                  <span class="text-danger" id="pms_contract_error"></span>
			               </div>

			               <div class="col-md-6 form-group">
			                  <label for="owner_passport_copy">Owner Passport Copy<span class="mandetory_field" style="color:red">*</span></label><br>
			                  <input multiple="multiple" class="imageUploadInput" id="owner_passport_copy" type="file" value="" name="owner_passport_copy[]">
			                  <input type="hidden" id="owner_passport_copy_existing_count" name="owner_passport_copy_existing_count" value="0">
			                  <input type="hidden" id="owner_passport_copy_removed" name="owner_passport_copy_removed" value="">
			                  <input type="hidden" id="owner_passport_copy_new_removed_count" name="owner_passport_copy_new_removed_count" value="">
			                  <div id="upload_prevss" class="owner_passport_copy_list"></div>
			                  <span class="text-danger" id="owner_passport_copy_error"></span>
			               </div>
			            </div>

			            <div class="form-group row nav-documents">
			            	 <div class="col-md-6 form-group">
			                  <label for="owner_eid_copy">Owner Eid Copy</label><br>
			                  <input multiple="multiple" class="imageUploadInput" id="owner_eid_copy" type="file" value="" name="owner_eid_copy[]">
			                  <input type="hidden" id="owner_eid_copy_existing_count" name="owner_eid_copy_existing_count" value="0">
			                  <input type="hidden" id="owner_eid_copy_removed" name="owner_eid_copy_removed" value="">
			                  <input type="hidden" id="owner_eid_copy_new_removed_count" name="owner_eid_copy_new_removed_count" value="">
			                  <div id="upload_prevss" class="owner_eid_copy_list"></div>
			                  <span class="text-danger" id="owner_eid_copy_error"></span>
			               </div>
			                <div class="col-md-6 form-group">
			                  <label for="pms_cheque_copy">PMS Cheque Copy<span class="mandetory_field" style="color:red">*</span></label><br>
			                  <input multiple="multiple" class="imageUploadInput" id="pms_cheque_copy" type="file" value="" name="pms_cheque_copy[]">
			                  <input type="hidden" id="pms_cheque_copy_existing_count" name="pms_cheque_copy_existing_count" value="0">
			                  <input type="hidden" id="pms_cheque_copy_removed" name="pms_cheque_copy_removed" value="">
			                  <input type="hidden" id="pms_cheque_copy_new_removed_count" name="pms_cheque_copy_new_removed_count" value="">
			                  <div id="upload_prevss" class="pms_cheque_copy_list"></div>
			                  <span class="text-danger" id="pms_cheque_copy_error"></span>
			               </div>
     		            </div>

			            <div class="form-group row nav-documents">
			               <div class="col-md-6 form-group">
			                  <label for="title_deed">Title Deed<span class="mandetory_field" style="color:red">*</span></label><br>
			                  <input multiple="multiple" class="imageUploadInput" id="title_deed" type="file" value="" name="title_deed[]">
			                  <input type="hidden" id="title_deed_existing_count" name="title_deed_existing_count" value="0">
			                  <input type="hidden" id="title_deed_removed" name="title_deed_removed" value="">
			                  <input type="hidden" id="title_deed_new_removed_count" name="title_deed_new_removed_count" value="">
			                  <div id="upload_prevss" class="title_deed_list"></div>
			                  <span class="text-danger" id="title_deed_error"></span>
			               </div>

			               <div class="col-md-6 form-group">
			                  <label for="poa_pp">Poa Pp</label><br>
			                  <input multiple="multiple" class="imageUploadInput" id="poa_pp" type="file" value="" name="poa_pp[]">
			                  <input type="hidden" id="poa_pp_existing_count" name="poa_pp_existing_count" value="0">
			                  <input type="hidden" id="poa_pp_removed" name="poa_pp_removed" value="">
			                  <input type="hidden" id="poa_pp_new_removed_count" name="poa_pp_new_removed_count" value="">
			                  <div id="upload_prevss" class="poa_pp_list"></div>
			                  <span class="text-danger" id="poa_pp_error"></span>
			               </div>
			            </div>

			            <div class="form-group row nav-documents">
							<div class="col-md-6 form-group">
								<label for="poa_copy">Poa Copy </label><br>
								<input multiple="multiple" class="imageUploadInput" id="poa_copy" type="file" value="" name="poa_copy[]">
								<input type="hidden" id="poa_copy_existing_count" name="poa_copy_existing_count" value="0">
								<input type="hidden" id="poa_copy_removed" name="poa_copy_removed" value="">
								<input type="hidden" id="poa_copy_new_removed_count" name="poa_copy_new_removed_count" value="">
								<div id="upload_prevss" class="poa_copy_list"></div>
								<span class="text-danger" id="poa_copy_error"></span>
							</div>
							<div class="col-md-6 form-group">
								<label for="key_hand_over_form">Key Hand Over Form</label><br>
								<input multiple="multiple" class="imageUploadInput" id="key_hand_over_form" type="file" value="" name="key_hand_over_form[]">
								<input type="hidden" id="key_hand_over_form_existing_count" name="key_hand_over_form_existing_count" value="0">
								<input type="hidden" id="key_hand_over_form_removed" name="key_hand_over_form_mou_removed" value="">
								<input type="hidden" id="key_hand_over_form_new_removed_count" name="key_hand_over_form_new_removed_count" value="">
								<div id="upload_prevss" class="key_hand_over_form_list"></div>
								<span class="text-danger" id="key_hand_over_form_error"></span>
							</div>
	                    </div>

			           

			            <div class="form-group row nav-documents">

							<div class="col-md-6 form-group">
								<label for="_kyc_form">KYC Form<span class="mandetory_field" style="color:red">*</span></label><br>
								<input multiple="multiple" class="imageUploadInput" id="kyc_form" type="file" value="" name="kyc_form[]">
								<input type="hidden" id="kyc_form_existing_count" name="kyc_form_existing_count" value="0">
								<input type="hidden" id="kyc_form_removed" name="kyc_form_removed" value="">
								<input type="hidden" id="kyc_form_new_removed_count" name="kyc_form_new_removed_count" value="">
								<div id="upload_prevss" class="kyc_form_list"></div>
								<span class="text-danger" id="kyc_form_error"></span>
							</div>
			              <div class="col-md-6 form-group">
								<label for="_screening">Screening<span class="mandetory_field" style="color:red">*</span></label><br>
								<input multiple="multiple" class="imageUploadInput" id="screening" type="file" value="" name="screening[]">
								<input type="hidden" id="screening_existing_count" name="screening_existing_count" value="0">
								<input type="hidden" id="screening_removed" name="screening_removed" value="">
								<input type="hidden" id="screening_new_removed_count" name="screening_new_removed_count" value="">
								<div id="upload_prevss" class="screening_list"></div>
								<span class="text-danger" id="screening_error"></span>
							</div>
			        </div> 
			            <div class="form-group row nav-documents">
			            	<div class="col-md-6 form-group">
								<label for="screening_comments">Screening Comments</label>
								<textarea class="form-control" name="screening_comments" id="screening_comments" rows="5" cols="50" placeholder="Screening Comments"></textarea>
							</div>
			            </div>
			            <hr>

			             <div class="form-group row mt-3">
	            		    <div class="col-sm-12 d-flex justify-content-center">
	            		    	<a class="txt-color btn btn-primary btn-rounded m-1" id="previousTab5" style="float:right;color: white">Previous</a>
	            		        <a class="txt-color btn btn-primary btn-rounded m-1" id="submitDeal" style="float:right; color: white">Create Property</a>
	            		        <a class="txt-color btn btn-primary btn-rounded m-1" id="saveDeal" style="float:right; color: white">Save As Draft</a>
	            		    </div>
	            		</div>
            		</div>
        </div></form> 	
	</div>   
</div>   
</div>
							</div>
			<div class="sidebar-overlay open"></div>
		</div>


<!-- jQuery must load first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Then jQuery Validate must load -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="/static/js/Propertiescustom.js"></script>
<script>
    console.log("Validator object:", $.validator);  // Should NOT be undefined
</script>
<script>
  // Step 1: Load and isolate jQuery + Validator
  var $main = jQuery.noConflict(true); // Save and release $
  window.$main = $main;
  console.log("Main jQuery version (before override):", $main.fn.jquery);
  console.log("Validator available:", typeof $main.validator !== "undefined");
</script>

<script>
  console.log("Using $main version:", $main.fn.jquery);
  console.log("Validator from $main:", typeof $main.validator !== "undefined");

  


  function makeApproveRejectOptional() {
    $main('[name="approve_reject"]').removeAttr('required').each(function () {
      $main(this).rules('remove', 'required');
    });
  }


  function showErrors(validator) {
    let messages = '';

    $main.each(validator.errorList, function (_, error) {
      const field = $main(error.element);
      const fieldName = field.attr('name');

      // Try to find the label using 'for' attribute or closest .form-group
      let labelText = $main(`label[for="${field.attr('id')}"]`).text().trim();
      if (!labelText) {
        labelText = field.closest('.mb-3, .form-group').find('label').first().text().trim();
      }

      if (!labelText) {
        labelText = fieldName || "Unknown Field";
      }

      messages += `${labelText.replace(/\*$/, '')}: ${error.message}\n`;
    });

    alert(messages || "Please correct the errors in the form.");
   }


  function switchTab(tabId) {
    const currentTab = document.querySelector('.tab-pane.show.active')?.id;
    const validator = $main("#createPropertyForm").validate();

    const tabOrder = [
      'property-details',
      'owner-details',
      'owner-agency-details',
      'cheque-details',
      'revenue-details',
      'upload-documents'
    ];

    const currentIndex = tabOrder.indexOf(currentTab);
    const targetIndex = tabOrder.indexOf(tabId.replace('-tab', ''));
    const isNext = targetIndex > currentIndex;

    const tabFields = {
      'property-details': ['submitted_by_agent', 'deal_date', 'reference_number', 'project_name', 'building_name', 'pm_start_date', 'pm_end_date', 'tenancy_start_date', 'tenancy_end_date'],
      'owner-details': ['owner_first_name', 'owner_source', 'owner_mobile', 'owner_email', 'seller_nationality'],
      'owner-agency-details': ['agency_name', 'agent_name', 'agent_phone'],
      'cheque-details': ['number_of_cheque', 'cheque_date[]'],
      'revenue-details': ['total_commission', 'less_outside_commission', 'net_commission', 'classic', 'agent1_commission', 'receipt_no', 'is_property_aml'],
      'upload-documents': ['title_deed', 'owner_passport_copy', 'pms_cheque_copy', 'kyc_form', 'screening']
    };

    // Always remove rules from all fields first
    Object.keys(tabFields).forEach(tab => {
      tabFields[tab].forEach(field => {
        $main(`[name="${field}"]`).each(function () {
          $main(this).rules('remove', 'required');
        });
      });
    });

    if (isNext && currentTab && tabFields[currentTab]) {
      tabFields[currentTab].forEach(field => {
        $main(`[name="${field}"]`).each(function () {
          $main(this).rules('add', { required: true });
        });
      });

      // Validate only current tab fields
      const currentTabValid = $main(`#${currentTab}`).find(':input').valid();
      if (!currentTabValid) {
        showErrors(validator);
        return;
      }
    }

    // Tab switch
    document.querySelectorAll('.nav-link').forEach(tab => tab.classList.remove('active'));
    const tabLink = document.querySelector(`#${tabId}`);
    if (tabLink) tabLink.classList.add('active');

    document.querySelectorAll('.tab-pane').forEach(pane => pane.classList.remove('show', 'active'));
    const newTabPaneId = tabId.replace('-tab', '');
    const newTabPane = document.getElementById(newTabPaneId);
    if (newTabPane) newTabPane.classList.add('show', 'active');

    window.scrollTo({ top: 0, behavior: 'smooth' });
  }

  



  function saveAsDraft() {
    const draftFields = ['submitted_by_agent', 'deal_date', 'reference_number', 'project_name', 'building_name', 'pm_start_date', 'pm_end_date', 'tenancy_start_date', 'tenancy_end_date', 'owner_first_name', 'owner_source', 'owner_mobile', 'owner_email', 'seller_nationality'];

    draftFields.forEach(field => {
      $main(`[name="${field}"]`).each(function() {
        $main(this).rules('add', 'required');
      });
    });

    const allFields = ['agency_name', 'agent_name', 'agent_phone', 'number_of_cheque', 'cheque_date[]', 'total_commission', 'less_outside_commission', 'net_commission', 'classic', 'agent1_commission', 'receipt_no', 'approve_reject', 'is_property_aml', 'title_deed', 'owner_passport_copy', 'pms_cheque_copy', 'kyc_form', 'screening'];

    allFields.forEach(field => {
      $main(`[name="${field}"]`).each(function() {
        $main(this).rules('remove', 'required');
      });
    });

    if ($main('#createPropertyForm').valid()) {
      document.getElementById('createPropertyForm').action = '/save-draft/';
      document.getElementById('createPropertyForm').submit();
    } else {
      const validator = $main("#createPropertyForm").validate();
      showErrors(validator);
    }
  }

  $main(document).ready(function() {
    $main.validator.addMethod("alphanum_special", function(value, element) {
      return this.optional(element) || /^[\w\s.,\-@()/]+$/.test(value);
    }, "Only letters, numbers, and certain special characters are allowed.");

    $main.validator.addMethod("numeric", function(value, element) {
      return this.optional(element) || /^[0-9]*$/.test(value);
    }, "Please enter a valid number.");

    $main.validator.addMethod("custom_email", function(value, element) {
      return this.optional(element) || /^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/.test(value);
    }, "Please enter a valid email address.");

    $main.validator.addMethod("dateAfterStart", function(value, element, params) {
      const startDate = $main(params).val();
      if (!value || !startDate) return true;
      return new Date(value) >= new Date(startDate);
    }, "End date must be after start date.");

   // $main('#createPropertyForm').validate({ ... }); // Keep your full validation config here (unchanged, just convert $ → $main)
    $main('#createPropertyForm').validate({
      ignore: "",
      rules: {
        submitted_by_agent: { required: true, alphanum_special: true, maxlength: 255 },
        deal_date: { required: true, date: true },
        reference_number: { required: true, alphanum_special: true, maxlength: 20 },
        project_name: { required: true, alphanum_special: true, maxlength: 255 },
        building_name: { required: true, alphanum_special: true, maxlength: 255 },
        unit_no: { alphanum_special: true, maxlength: 15 },
        pms_price: { numeric: true, maxlength: 10 },
        pm_start_date: { required: true, date: true },
        pm_end_date: { required: true, date: true, dateAfterStart: '[name="pm_start_date"]' },
        tenancy_start_date: { required: true, date: true },
        tenancy_end_date: { required: true, date: true, dateAfterStart: '[name="tenancy_start_date"]' },
        owner_first_name: { required: true, alphanum_special: true, maxlength: 255 },
        owner_source: { required: true, alphanum_special: true, maxlength: 255 },
        owner_mobile: { required: true, numeric: true, minlength: 6, maxlength: 15 },
        owner_email: { required: true, custom_email: true, maxlength: 100 },
        seller_nationality: { required: true, alphanum_special: true, maxlength: 255 },
        agency_name: { required: true, alphanum_special: true, maxlength: 255 },
        agent_name: { required: true, alphanum_special: true, maxlength: 255 },
        agent_phone: { required: true, numeric: true, minlength: 6, maxlength: 15 },
        agent_brn: { alphanum_special: true, maxlength: 255 },
        agent_email: { custom_email: true, maxlength: 100 },
        number_of_cheque: { required: true, numeric: true, minlength: 1, maxlength: 2, min: 1, max: 12 },
        'cheque_date[]': { required: true, date: true },
        total_commission: { required: true, numeric: true, maxlength: 10 },
        net_commission: { required: true, numeric: true, maxlength: 10 },
        agent1_commission: { required: true, alphanum_special: true, maxlength: 255 },
        agent2_commission: { alphanum_special: true, maxlength: 255 },
        agent3_commission: { alphanum_special: true, maxlength: 255 },
        agent1_commission_value: { numeric: true, maxlength: 10 },
        agent2_commission_value: { numeric: true, maxlength: 10 },
        agent3_commission_value: { numeric: true, maxlength: 10 },
        receipt_no: { required: true, alphanum_special: true, maxlength: 100 },
        less_outside_commission: { required: true, alphanum_special: true, maxlength: 100 },
        classic: { required: true, numeric: true, maxlength: 10 },
        kyc_number: { alphanum_special: true, maxlength: 255 },
        agent_comments: { alphanum_special: true, maxlength: 255 },
        admin_comments: { alphanum_special: true, maxlength: 255 },
        screening_comments: { alphanum_special: true, maxlength: 255 },
        title_deed: { required: true },
        owner_passport_copy: { required: true },
        pms_cheque_copy: { required: true },
        kyc_form: { required: true },
        screening: { required: true }
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio")) {
          error.appendTo(element.closest('.form-check'));
        } else {
          error.insertAfter(element);
        }
      },
      messages: {
        pm_end_date: { dateAfterStart: "PM End Date must be after PM Start Date" },
        tenancy_end_date: { dateAfterStart: "Tenancy End Date must be after Tenancy Start Date" }
      }
    });


    let chequeCount = 1;
    const maxChequeFields = 12;

    $main('#addChequeBtn').on('click', function() {
      const numberOfCheques = parseInt($main('[name="number_of_cheque"]').val()) || 0;
      if (chequeCount < maxChequeFields && chequeCount < numberOfCheques) {
        chequeCount++;
        const newField = `
          <div class="mb-3 cheque-date-container cheque-date-row-${chequeCount}">
            <div class="d-flex align-items-end">
              <div class="me-2 w-100">
                <label class="form-label">Cheque Date<span class="text-danger">*</span></label>
                <input type="date" class="form-control cheque-date" name="cheque_date[]" required>
              </div>
              <div>
                <label class="form-label d-block invisible">Remove</label>
                <button type="button" class="btn btn-danger remove-cheque-btn" data-row="${chequeCount}">Remove</button>
              </div>
            </div>
          </div>`;
        $main('#additional-cheque-dates').append(newField);
        $main('[name="cheque_date[]"]').each(function() {
          $main(this).rules('add', { required: true, date: true });
        });
      } else if (chequeCount >= numberOfCheques) {
        alert('Cannot add more cheque dates than specified in Number of Cheques.');
      } else {
        alert('Maximum 12 cheque dates allowed.');
      }
    });

    $main(document).on('click', '.remove-cheque-btn', function() {
      $main(`.cheque-date-row-${$main(this).data('row')}`).remove();
      chequeCount--;
    });

    $main('button[onclick="switchTab(\'revenue-details-tab\')"]').on('click', function(e) {
      const numberOfCheques = parseInt($main('[name="number_of_cheque"]').val()) || 0;
      const chequeDatesCount = $main('.cheque-date').length;
      if (numberOfCheques !== chequeDatesCount) {
        e.preventDefault();
        alert(`Please add ${numberOfCheques} cheque date(s) as specified in Number of Cheques.`);
        return false;
      }
    });

    $main('#createPropertyForm').on('submit', function(e) {
      const numberOfCheques = parseInt($main('[name="number_of_cheque"]').val()) || 0;
      const chequeDatesCount = $main('.cheque-date').length;
      if (numberOfCheques !== chequeDatesCount) {
        e.preventDefault();
        alert(`Please add ${numberOfCheques} cheque date(s) as specified in Number of Cheques.`);
        return false;
      }

      const allRequiredFields = [
        'deal_submitted_by', 'deal_date', 'reference_number', 'project_name', 'building_name',
        'pm_start_date', 'pm_end_date', 'tenancy_start_date', 'tenancy_end_date',
        'owner_first_name', 'owner_source', 'owner_mobile', 'owner_email', 'seller_nationality',
        'agency_name', 'agent_name', 'agent_phone', 'number_of_cheque', 'cheque_date[]',
        'total_commission', 'less_outside_commission', 'net_commission', 'classic',
        'agent1_commission', 'receipt_no', 'aml',
        'title_deed', 'owner_passport_copy', 'pms_cheque_copy', 'kyc_form', 'screening'
      ];

      allRequiredFields.forEach(field => {
        $main(`[name="${field}"]`).each(function() {
          $main(this).rules('add', 'required');
        });
      });

      if (!$main('#createPropertyForm').valid()) {
        e.preventDefault();
        const validator = $main("#createPropertyForm").validate();
        showErrors(validator);
      }
    });

    function showErrors(validator) {
      let messages = '';
      $main.each(validator.errorMap, function(index, value) {
        messages += `${index}: ${value}\n`;
      });
      alert(messages);
    }

    $main('input[type="file"]').on('change', function() {
      const maxFileSize = 3 * 1024 * 1024;
      const maxFiles = 4;
      const files = this.files;
      const fieldName = $main(this).attr('name');
      const errorElement = $main(`#${fieldName}_error`);

      if (files.length > maxFiles) {
        errorElement.text(`Please select no more than ${maxFiles} files.`);
        $main(this).val('');
        return false;
      }

      let totalSize = 0;
      for (let i = 0; i < files.length; i++) {
        totalSize += files[i].size;
      }

      if (totalSize > maxFileSize) {
        errorElement.text('Total file size must be less than 3MB.');
        $main(this).val('');
        return false;
      }

      errorElement.text('');
    });
  });
</script>