<div class="collapse" id="collapseExample">
                <div class="row pb-3">     
                  <div class="col-md-2">Receipt No</div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="receipt_number" name="receipt_number" placeholder="Receipt No" autocomplete="off">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">Receipt Status</div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <select name="status" id="status" class="form-control">
                          <option value="">Please Select</option>
                          <option value="Used">Used</option>
                          <option value="Unused">Unused</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-3">     
                  <div class="col-md-2">Payment Type</div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <select name="payment_type" id="payment_type" class="form-control">
                          <option value="">Please Select</option>
                          <option value="Cash">Cash</option>
                          <option value="Cheque">Cheque</option>
                          <option value="Bank Transfer">Bank Transfer</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">Deal Type</div>
                   <div class="col-md-3">
                      <div class="form-group">
                        <select name="deal_type" id="deal_type" class="form-control">
                          <option value="">Please Select</option>
                          <option value="Rental">Rental</option>
                          <option value="Sales">Sales</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-3">     
                  <div class="col-md-2">Receipt Date From</div>
                    <div class="col-md-3">
                      <input type="text" class="form-control hasDatepicker" id="from" name="from" placeholder="Receipt Date From" autocomplete="off">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">Receipt Date To</div>
                    <div class="col-md-3">
                      <input type="text" class="form-control hasDatepicker" id="to" name="to" placeholder="Receipt Date To" autocomplete="off">
                    </div>
                  </div>
                  <div class="row pb-3">     
                  <div class="col-md-2">Agent Name</div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="agent_name" name="agent_name" placeholder="Agent Name" autocomplete="off">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">Unit Number</div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="unit_number" name="unit_number" placeholder="Unit Number" autocomplete="off">
                    </div>
                  </div>
                  <div class="row pb-3">     
                  <div class="col-md-2">Building Name</div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="building_name" name="building_name" placeholder="Building Name" autocomplete="off">
                    </div>
                  </div>
                  <div class="row pb-1">
                        <div class="col-6 col-md-1">
                            <button type="button" class="txt-color btn btn-primary btn-rounded" id="filter" name="filter">Filter</button>
                        </div>
                        <div class="col-6 col-md-9">
                            <button type="button" class="txt-color btn btn-primary btn-rounded" id="reset" name="reset">Reset</button>
                        </div>
                  </div>
                    <br>
                </div>