{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}



<div class="main-content pt-4">
  <div class="row">
      <div class="col-md-12" id="successmsg" style="display: none">
        <div class="alert alert-primary " id="alert-primary">
          <button class="close float-right" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        </div>
      </div> 
      <div class="col-md-12">

          <div class="card mb-5">

        
            <div class="card-header">
              <h4 class="pb-2">Receipt Details<span class="float-right mr-2">
                <a class="btn btn-primary btn-rounded" href="{% url "receipts_list" %}">Back</a></span>
              </h4>
            </div>
            <div class="card-body ">
              <form id="createReceiptForm">
                <input type="hidden" name="_token" value="8uuEAf7wUSKndgL81f8GsmW2ahmwjNq4By4PLphV">
                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="date">Receipt Date</label>
                    <input type="text" id="date" name="date" class="form-control" value="{{recicept.date}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="receipt_number">Received From</label>
                    <input type="text" name="received_from" class="form-control" id="received_from" placeholder="Enter Received From" value= "{{recicept.received_form}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="receipt_number">Receipt Number</label>
                    <input type="text" name="receipt_number" class="form-control" id="receipt_number" placeholder="Enter Receipt Number" value="{{recicept.receipt_number}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="dhs">Dhs</label>
                    <input type="text" name="dhs" class="form-control" id="dhs" value=" {{recicept.dhs}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="fils">Fils</label>
                    <input type="text" name="fils" class="form-control" id="fils" value="{{recicept.fils}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="fils">The Sum Of Dhs</label>
                    <input type="text" name="sum_of_dhs" class="form-control" id="sum_of_dhs" value="{{recicept.sum_of_dhs}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="payment_type">Payment Type</label>
                    <input type="text" name="payment_type" class="form-control" id="payment_type" value="{{recicept.payment_type}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  
                  <div class="col-md-6 form-group mb-3">
                    <label for="cash/cheque no">Cheque No</label>
                    <input type="text" name="cheque_no" class="form-control" id="cheque_no" value="{{recicept.cheque_no}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                
                  <div class="col-md-6 form-group mb-3">
                    <label for="bank">Bank Name</label>
                    <input type="text" name="bank" class="form-control" id="bank" value="{{recicept.bank}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="sec_date">Payment Date</label>
                    <input type="text" name="sec_date" class="form-control" id="sec_date" value="{{recicept.sec_date}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="being">Being</label>
                    <input type="text" name="being" class="form-control" id="being" value="{{recicept.being}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="status">Status</label>
                    <input type="text" name="status" class="form-control" id="status" value="{{recicept.status}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="status">Reference No</label>
                    <input type="text" name="deal_refer_no" class="form-control" id="status" value="{{recicept.deal_refer_no}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="deal_type">Deal Type</label>
                    <input type="text" name="deal_type" class="form-control" id="deal_type" value="{{recicept.deal_type}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="agent_name">Agent Name</label>
                    <input type="text" name="agent_name" class="form-control" id="agent_name" value="{{recicept.agent_name}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="project_name">Project Name</label>
                    <input type="text" name="project_name" class="form-control" id="project_name" value="{{recicept.project_name}}" readonly="" style="background-color: #f8f9fa">
                  </div>

                  <div class="col-md-6 form-group mb-3">
                    <label for="project_name">Building Name</label>
                    <input type="text" name="building_name" class="form-control" id="building_name" value="{{recicept.building_name}}" readonly="" style="background-color: #f8f9fa">
                  </div>

                  <div class="col-md-6 form-group mb-3">
                    <label for="project_name">Unit Number</label>
                    <input type="text" name="unit_number" class="form-control" id="unit_number" value="{{recicept.unit_number}}" readonly="" style="background-color: #f8f9fa">
                  </div>
                  
                  </div>
              </form>
            </div>
          </div>
      </div>

  </div>
  
</div>

{% endblock content %}